<!DOCTYPE html>
<html lang="en">

<head>

    	<title>RSS Aggregator</title>
    	
</head>

<body>
	<h1>Elapsed Time {{t}}</h1>
	
	<h1>Subscribed List</h1>
		{% for link in linkss %}
		     
	    		<div>
			<p onclick="showFunction( {{ link['jsonObject'] }} )"> {{ link['Object'].feed.title }} </p>
			</div>
		     
	         {% endfor %}

	<h1>Latest Articles</h1>   
		<div id="page">     
		{% for link in linkss %}
		     <hr>
	    		<div>
			<p>{{ link['Object'].entries[0].title }} </p>
			</div>
		     <hr>
		<div>
	         {% endfor %}
		
</body>
	<script>
		function showFunction(y)
		{
			var c = y;
			console.log(c);

			var f = document.getElementById("page");
			f.innerHTML = " ";
	
			var line = document.createElement("hr");	
			f.appendChild(line);
			
			for(i=0; i<c.entries.length;i++)
			{
				console.log(c.entries[i].title);
				var division = document.createElement("div");
				var title = document.createTextNode(c.entries[i].title);
				division.appendChild(title);
				
				var breaker = document.createElement("br");
				var line = document.createElement("hr");
				
				f.appendChild(division);
				f.appendChild(breaker);
				f.appendChild(line);
			}
		}
	</script>
</html>
